<div class="">
<div class="card_login text-center">
<div class="title_login">
<h2>Войти в личный кабинет</h2>
</div>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="image_signIn">
  <%= image_tag  ("image 18.jpg"), size: '606x508'%>
</div>
 
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:" Логин",class:"text_field_login text_login_in_field" %>
    
    <%= f.password_field :password, autocomplete: "current-password",placeholder:" Пароль",class:"text_field_password" %>
 


  
  
    <%= f.submit "Войти",class:"btn_login text_btn_login" %>
<div class="text_registration_link">
Вы еще не зарегистрированы?
  <%= link_to "Зарегистрироваться", new_registration_path(resource_name) %><br />
  
</div>

<% end %>

</div>

</div>
  
    <footer class="footer_devise">

 <div class="devise_text">
       Divise
      </div>
      <div class="contact_text">
      Телефон: 8 (044) 512-25-15 Почта: device.365@gmail.com Главный офис: Минск, пр-т Независимости, 44
      </div>
      <div class="info_text_contact">
      Контакты
      </div>

</footer>

