
<div class="card_login text-center">
<div class="login_pos">
<h2>Log in</h2>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<style>

.form-control{

width: 140px;  
 
  background-color:  #ffffff!important;

}

.form-control:focus {
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
  background-color:  #ffffff!important;
}
.form_control .content{
        background-color:  #ffffff!important;
  }
.field{
position: absolute;
width: 237px;
height: 40px;
left: 82px;
top: 90px;
 background-color:  #96d3ec!important;
  background-color:  #ffffff!important;
border: 1px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;

}
.field_pass{
  position: absolute;
width: 237px;
height: 40px;
left: 82px;
top: 137px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
}
.other{
 position: absolute;
width: 237px;
height: 40px;
left: 82px;
top: 200px;



}
</style>
 
 
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email",class:"form-control field" %>
    
    <%= f.password_field :password, autocomplete: "current-password",placeholder:"Password",class:"form-control field_pass" %>
 
<div class="other">

  <div class="actions">
    <%= f.submit "Log in",class:"btn btn-outline-dark" %>
  </div>
  <%= render "devise/shared/links" %>
  </div>
<% end %>

</div>

