<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top  ">
      <div class="text_company">
     Devise
     </div>
     <%=link_to "Главная" , new_search_path,class: "home_link tex-light"%>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

          <% if user_signed_in? %>
            &emsp;
              <% if current_user.roll=="admin" %>
            <%=link_to "Добавить товар" , new_product_path,class:"text-light"%>
                &emsp;
            <%=link_to "Добавить категорию" , new_category_path,class:"text-light"%>
             &emsp;
              <%= link_to "Все пользователи",users_page_index_path,class:"text-light"%>
            &emsp;
          <%end%>
            <%=link_to current_user.email , users_page_path(current_user),class:"text-light"%>
            &emsp;
 
           <div class="registration_navbar">
                 <%=link_to "Корзина", wains_path,class:"text-light"%>
           </div>
            &emsp;
            <%=link_to "Выйти" ,destroy_user_session_path ,method: :delete,class:"link_sign_in"%>

          <%else%>
            &emsp;
           <div class="registration_navbar">
               Корзина
           </div>
            &emsp;
            <%=link_to "Войти" ,new_user_session_path,class:"link_sign_in"%>

          <% end %>

          &emsp;
        
        </ul>

       
      </div>
    </nav>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
   

      <%= yield %>
  
  

  </body>

</html>
